@font-face {
  font-family: "LOTTERIACHAB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
#wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  font-family: "Pretendard-Regular";
  font-size: 16px;
  background-color: rgb(241, 241, 241);
}
#wrap h1 {
  margin-bottom: 30px;
  color: transparent;
  font-size: 60px;
  font-family: "LOTTERIACHAB";
  line-height: 2;
  background: linear-gradient(120deg, rgb(245, 174, 115) 5%, rgb(242, 237, 116) 50%, rgb(203, 242, 116) 95%);
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.24);
  -webkit-background-clip: text;
}
#wrap .container .upper-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wrap .container .upper-toolbar .toggle-map .switch {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#wrap .container .upper-toolbar .toggle-map .switch .map {
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrap .container .upper-toolbar .toggle-map .switch input {
  display: none;
}
#wrap .container .upper-toolbar .toggle-map .switch input:checked + .slider {
  background-color: rgb(203, 242, 116);
}
#wrap .container .upper-toolbar .toggle-map .switch input:checked + .slider:after {
  right: 0;
}
#wrap .container .upper-toolbar .toggle-map .switch .slider {
  display: block;
  position: relative;
  width: 40px;
  height: 20px;
  background-color: rgb(245, 174, 115);
  border: 1px solid gray;
  border-radius: 50px;
  transition: all 0.3s;
}
#wrap .container .upper-toolbar .toggle-map .switch .slider:after {
  content: "";
  position: absolute;
  right: 20px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.24);
  transition: all 0.3s;
}
#wrap .container .upper-toolbar .menus {
  display: flex;
  gap: 5px;
}
#wrap .container .upper-toolbar .menus span, #wrap .container .upper-toolbar .menus a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  padding: 5px 10px;
  color: #323232;
  text-decoration: none;
  border-radius: 3px;
  transition: 0.2s;
  cursor: pointer;
}
#wrap .container .upper-toolbar .menus span:hover, #wrap .container .upper-toolbar .menus a:hover {
  background-color: rgb(231, 229, 229);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}
#wrap .container .upper-toolbar .menus span i, #wrap .container .upper-toolbar .menus a i {
  font-size: 14px;
}
#wrap .container .main {
  position: relative;
  margin: 15px 0;
}
#wrap .container .main .mini-map {
  position: absolute;
  bottom: 0;
  right: -146px;
  width: 140px;
  height: 100px;
  background-color: #fff;
  border: 3px solid #333;
}
#wrap .container .main .mini-map.hide {
  display: none;
}
#wrap .container .main .mini-map img {
  display: block;
  width: 100%;
}
#wrap .container .main canvas {
  cursor: crosshair;
  background-color: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
#wrap .container .under-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}
#wrap .container .under-toolbar .tools {
  display: flex;
  gap: 10px;
}
#wrap .container .under-toolbar .tools input[type=radio] {
  display: none;
}
#wrap .container .under-toolbar .tools input[type=radio]:checked + label {
  background-color: rgb(231, 229, 229);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}
#wrap .container .under-toolbar .tools label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: 0.15s;
  cursor: pointer;
}
#wrap .container .under-toolbar .tools label:hover {
  background-color: rgb(231, 229, 229);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}
#wrap .container .under-toolbar .size-panel {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  height: 40px;
  background-color: rgb(231, 229, 229);
  border-radius: 5px;
}
#wrap .container .under-toolbar .size-panel .size__preview {
  display: grid;
  grid-template-rows: 1fr 10px;
  flex-direction: column;
  width: 30px;
  height: 100%;
}
#wrap .container .under-toolbar .size-panel .size__preview .preview__circle {
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrap .container .under-toolbar .size-panel .size__preview .preview__circle span {
  width: 5px;
  height: 5px;
  background-color: #000;
  border-radius: 50%;
}
#wrap .container .under-toolbar .size-panel .size__preview .preview__size {
  font-size: 12px;
  text-align: center;
  cursor: default;
}
#wrap .container .under-toolbar .color-picker {
  display: flex;
  align-items: center;
  gap: 25px;
}
#wrap .container .under-toolbar .color-picker input[type=color] {
  padding: 0;
  height: 35px;
  outline: none;
  border: none;
}
#wrap .container .under-toolbar .color-picker .colors {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 10px;
}
#wrap .container .under-toolbar .color-picker .colors span {
  width: 28px;
  height: 28px;
  background-color: #000;
  border: 1px solid #d8d8d8;
  border-radius: 50%;
  transition: 0.4;
  cursor: pointer;
}
#wrap .container .under-toolbar .color-picker .colors span:hover {
  transform: scale(1.1);
}/*# sourceMappingURL=style.css.map */